[user]
	name = Bryce Thompson
	email = 9068303+thompsonbryce@users.noreply.github.com
[credential "helperselector"]
	selected = cache
[alias]
	lg = !git --no-pager log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --max-count=10
	pushfwl = push --force-with-lease
	wip = commit -a -m WIP
	coa = !git add -A && git commit -m
	cob = checout -b
	resetfile = checkout HEAD --
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[pager]
	branch = false
